.principal__adicionar {
    background: #003b6b;
    border-top: solid #09263b 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
}

.adicionar__formulario {
    display: flex;
    flex-direction: row;
}

.adicionar {
    background-color: #0069be;
    border-left: solid #003b6b 3px;
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
    color: #fff;
    padding: .2rem;
    transition: background .3s;
}

.adicionar:hover {
    background-color: #fff;
    color: #0069be;
}